@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700&display=swap");
.wrapper {
  font-family: "Montserrat", sans-serif;
}

.block1 {
  background: url("../img/bg1.jpg") center/cover no-repeat;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 480px) {
  .block1 {
    background: url("../img/bg-media1.jpg") center/cover no-repeat;
  }
}
.block1__container {
  margin: 0 auto;
  padding-left: 5.2776041667vw;
  padding-right: 5.1041666667vw;
  padding-top: 1.0416666667vw;
}
.block1__row {
  margin-top: 7.03125vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 65%;
}
@media (max-width: 480px) {
  .block1__row {
    margin: 100px auto 0;
    align-items: center;
    max-width: 100%;
    margin-top: 76.9230769231vw;
  }
}
.block1__title {
  font-weight: 700;
  font-size: 5vw;
  line-height: 6.09375vw;
  background: linear-gradient(90deg, #BCF3FF 2.49%, #EBFBFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (max-width: 480px) {
  .block1__title {
    text-align: center;
    font-size: 8.2051282051vw;
    line-height: 10vw;
    max-width: 100%;
  }
}
.block1__text {
  margin-top: 3.6458333333vw;
  font-size: 2.5vw;
  line-height: 3.0729166667vw;
  font-weight: 500;
  color: #EDFCFF;
  max-width: 100%;
}
@media (max-width: 480px) {
  .block1__text {
    text-align: center;
    max-width: 90%;
    line-height: 111.9%;
    font-size: 4.6153846154vw;
    margin-top: 17.9487179487vw;
  }
}
.block1__btn {
  display: block;
  text-align: center;
  font-size: 3.0208333333vw;
  margin-top: 3.6458333333vw;
  color: #FFFFFF;
  background: #30B9D8;
  border-radius: 1.0416666667vw;
  padding-top: 1.0416666667vw;
  padding-bottom: 1.0416666667vw;
  padding-left: 2.0833333333vw;
  padding-right: 2.0833333333vw;
  margin-bottom: 10.8333333333vw;
}
@media (max-width: 480px) {
  .block1__btn {
    margin-bottom: 31.0256410256vw;
    padding: 2.5641025641vw 5.1282051282vw;
    margin-top: 20.5128205128vw;
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
  }
}

.header {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 1.6666666667vw;
  line-height: 1.6666666667vw;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  padding: 1.09375vw 5.1041666667vw 1.09375vw 5.6421875vw;
}
@media (max-width: 480px) {
  .header {
    font-size: 3.5897435897vw;
    line-height: 4.358974359vw;
    padding: 2.8205128205vw 5.1282051282vw;
  }
}
.header__left {
  color: rgba(245, 253, 255, 0.8);
}
.header__right {
  display: flex;
  color: rgba(245, 253, 255, 0.8);
}
.header__ru {
  color: rgba(245, 253, 255, 0.8);
}
.header__en {
  color: rgba(245, 253, 255, 0.8);
}

.block2 {
  font-family: "Inter", sans-serif;
}
.block2 p {
  font-size: 3.3333333333vw;
  line-height: 4.0104166667vw;
  font-weight: 500;
  margin: 5.1041666667vw 0 7.2395833333vw 5.1041666667vw;
}
@media (max-width: 480px) {
  .block2 p {
    text-align: center;
    margin-left: 0;
    font-size: 6.1538461538vw;
    line-height: 7.4358974359vw;
    margin-top: 12.8205128205vw;
    margin-bottom: 18.7179487179vw;
  }
}

.block3 {
  background: url("../img/bg2.jpg") center 69%/cover no-repeat;
  font-family: "Inter", sans-serif;
  position: relative;
  border-radius: 2.6041666667vw;
}
.block3__container {
  margin: 0 auto;
  padding-left: 4.5833333333vw;
  padding-right: 6.3020833333vw;
}
.block3__PSA {
  display: inline-block;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 500;
  font-size: 10.4166666667vw;
  line-height: 12.6041666667vw;
  position: absolute;
  top: -18%;
}
@media (max-width: 480px) {
  .block3__PSA {
    font-size: 16.4102564103vw;
    line-height: 19.7435897436vw;
    top: -13%;
  }
}
.block3__row {
  margin-top: 1.4583333333vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block3__title {
  margin-top: 1.4583333333vw;
  display: flex;
  color: #0C3B45;
  margin-bottom: 6.71875vw;
  font-weight: 500;
  font-size: 3.90625vw;
  line-height: 4.7395833333vw;
}
@media (max-width: 480px) {
  .block3__title {
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
    margin-bottom: 12.8205128205vw;
    margin-top: 5.1282051282vw;
  }
}
.block3__title img {
  max-width: 4.1666666667vw;
  margin-right: 1.5104166667vw;
}
@media (max-width: 480px) {
  .block3__title img {
    max-width: 6.4102564103vw;
  }
}
.block3__list-kadrov {
  margin-bottom: 1.7708333333vw;
  padding: 0.78125vw 2.34375vw;
  max-width: 41.4583333333vw;
  font-size: 2.5vw;
  color: #0C3B45;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0.15625vw 0.15625vw 0.3125vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.0416666667vw;
  line-height: 3.2755208333vw;
}
@media (max-width: 480px) {
  .block3__list-kadrov {
    max-width: 61.7948717949vw;
    padding: 3.8461538462vw 3.3333333333vw 3.3333333333vw 3.8461538462vw;
    margin-bottom: 5.1282051282vw;
    border-radius: 1.4102564103vw;
  }
}
.block3__list-kadrov h2 {
  font-weight: 600;
}
.block3__list-kadrov p {
  font-weight: 400;
  max-width: 64%;
}
@media (max-width: 480px) {
  .block3__list-kadrov p {
    max-width: 73%;
  }
}
@media (max-width: 480px) {
  .block3__list-kadrov {
    font-size: 4.1025641026vw;
    line-height: 5.8974358974vw;
  }
}

.block4 {
  position: relative;
  background: url("../img/bg3.jpg") center/cover no-repeat;
  margin-top: 6.4583333333vw;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  border-radius: 2.6041666667vw;
}
.block4__container {
  margin: 0 auto;
  padding-left: 4.5833333333vw;
  padding-right: 6.3020833333vw;
}
.block4__PSA {
  font-weight: 500;
  font-size: 10.4166666667vw;
  line-height: 12.6041666667vw;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  top: -18%;
}
.block4__row {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.block4__content {
  align-self: flex-end;
  max-width: 41.4583333333vw;
  margin-right: 4.7916666667vw;
}
.block4__title {
  align-self: center;
  display: flex;
  font-weight: 600;
  font-size: 3.90625vw;
  line-height: 4.7395833333vw;
  margin-top: 1.7708333333vw;
  margin-bottom: 8.125vw;
}
.block4__title img {
  max-width: 4.3229166667vw;
  margin-right: 1.3020833333vw;
}
.block4__text {
  max-width: 39.8958333333vw;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.0208333333vw;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0.2083333333vw 0.2083333333vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.0416666667vw;
  padding-top: 0.78125vw;
  padding-bottom: 0.78125vw;
  padding-left: 1.5625vw;
  padding-right: 1.5625vw;
  margin-bottom: 5vw;
}
.block4__text400 {
  font-weight: 400;
}

.block5 {
  margin-top: 6.0416666667vw;
  background: url("../img/bg4.jpg") center/cover no-repeat;
  color: #0C3B45;
  font-family: "Inter", sans-serif;
  border-radius: 2.6041666667vw;
  position: relative;
}
.block5__container {
  margin: 0 auto;
  padding-left: 4.6354166667vw;
  padding-right: 5.2083333333vw;
}
.block5__PSA {
  font-weight: 500;
  font-size: 10.4166666667vw;
  line-height: 12.6041666667vw;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  top: -18%;
}
.block5__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block5__title {
  margin-top: 2.0833333333vw;
  display: flex;
  font-weight: 600;
  font-size: 3.90625vw;
  line-height: 4.7395833333vw;
  margin-bottom: 16.25vw;
}
.block5__title img {
  max-width: 3.2677083333vw;
  margin-right: 0.846875vw;
}
.block5__text {
  max-width: 42.34375vw;
  margin-bottom: 2.4479166667vw;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 3.0208333333vw;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0.15625vw 0.15625vw 0.3125vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 1.0416666667vw 2.0833333333vw;
  border-radius: 1.0416666667vw;
}

.inputs {
  background: url("../img/bg-input.jpg") center/cover no-repeat;
  padding-top: 5.2083333333vw;
  font-family: "Inter", sans-serif;
  padding-bottom: 5.2083333333vw;
}
.inputs__block1 {
  max-width: 67.1354166667vw;
  margin: 0 auto;
}
.inputs__container {
  max-width: 64.5833333333vw;
}
.inputs__title {
  font-weight: 500;
  font-size: 3.3333333333vw;
  line-height: 4.0104166667vw;
  color: #0C3B45;
  letter-spacing: -0.1666666667vw;
  margin-bottom: 2.6041666667vw;
}
.inputs__name, .inputs__tel, .inputs__mail {
  position: relative;
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 2.2916666667vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0.2604166667vw 0.2604166667vw 0.2604166667vw rgba(12, 59, 69, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.5208333333vw;
  height: 5.2083333333vw;
  padding: 1.4583333333vw 1.5625vw;
  margin-bottom: 1.0416666667vw;
}
.inputs__name:last-child, .inputs__tel:last-child, .inputs__mail:last-child {
  margin-bottom: 2.6041666667vw;
}
.inputs__btn {
  display: block;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.0729166667vw;
  padding: 1.0416666667vw 2.0833333333vw;
  background: #30B9D8;
  border-radius: 1.0416666667vw;
  margin: 0 auto;
}

.footer {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  background: #002027;
  padding-top: 1.5625vw;
  padding-bottom: 2.34375vw;
}
.footer__container {
  max-width: 31.25vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  font-weight: 600;
  font-size: 1.9791666667vw;
  line-height: 2.3958333333vw;
  margin-bottom: 1.4583333333vw;
}
.footer__contacts {
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 2.2916666667vw;
  text-align: center;
  margin-bottom: 1.0416666667vw;
}
.footer__contacts a {
  display: block;
  margin-top: 1.0416666667vw;
  color: #FFFFFF;
}
.footer__email {
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 2.2916666667vw;
}
.footer__icons {
  margin-bottom: 1.3020833333vw;
  margin-top: 1.3020833333vw;
}
.footer__icons img {
  max-width: 3.125vw;
}
.footer__icons img:last-child {
  margin-left: 2.6041666667vw;
}
.footer__privacy {
  font-weight: 400;
  font-size: 1.6666666667vw;
  line-height: 2.03125vw;
}
.footer__privacy a {
  color: rgba(255, 255, 255, 0.7);
}

.bg-opasity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  display: none;
}

.inputs1 {
  width: 774.38px;
  max-height: 595px;
  font-family: "Inter", sans-serif;
  padding: 62.5px 0;
  background: url("../img/bg-input.jpg") center/cover no-repeat;
  border-radius: 31.25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputs1__block1 {
  max-width: 774.38px;
  max-height: 470.63px;
  margin: 0 auto;
  position: relative;
}
.inputs1__container {
  max-width: 703.13px;
  margin: 0 auto;
}
.inputs1__title {
  padding-left: 31.25px;
  font-weight: 312;
  font-size: 40px;
  line-height: 48.13px;
  color: #0C3B45;
  letter-spacing: -3px;
  margin-bottom: 31.25px;
}
.inputs1__name, .inputs1__tel, .inputs1__mail {
  font-weight: 250;
  font-size: 22.5px;
  line-height: 27.5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 5px 5px 5px rgba(12, 59, 69, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 6.25px;
  height: 62.5px;
  padding: 17.5px 18.75px;
  margin-bottom: 12.5px;
}
.inputs1__name:last-child, .inputs1__tel:last-child, .inputs1__mail:last-child {
  margin-bottom: 31.25px;
}
.inputs1__btn {
  display: block;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 312;
  font-size: 30px;
  line-height: 36.88px;
  padding: 12.5px 25px;
  background: #30B9D8;
  border-radius: 12.5px;
  margin: 0 auto;
}
.inputs1__x {
  width: 23.48px;
  height: 23.48px;
  position: absolute;
  top: 4%;
  right: 2.5%;
}
.inputs1__x::before {
  content: "";
  display: block;
  width: 23.48px;
  height: 1.25px;
  transform: rotate(45deg);
  background: #000;
  position: relative;
  top: 11px;
  left: 0;
}
.inputs1__x::after {
  content: "";
  display: block;
  width: 23.48px;
  height: 1.25px;
  transform: rotate(-45deg);
  background: #000;
  position: relative;
  top: 10px;
  left: 0;
}

@media (max-width: 1199px) {
  .inputs1 {
    width: 64.53125vw;
    font-family: "Inter", sans-serif;
    padding-top: 5.2083333333vw;
    padding-bottom: 5.2083333333vw;
    background: url("../img/bg-input.jpg") center/cover no-repeat;
    border-radius: 2.6041666667vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inputs1__block1 {
    max-width: 64.53125vw;
    margin: 0 auto;
    position: relative;
  }
  .inputs1__container {
    max-width: 58.59375vw;
    margin: 0 auto;
  }
  .inputs1__title {
    padding-left: 2.6041666667vw;
    font-weight: 500;
    font-size: 3.3333333333vw;
    line-height: 4.0104166667vw;
    color: #0C3B45;
    letter-spacing: -0.1666666667vw;
    margin-bottom: 2.6041666667vw;
  }
  .inputs1__name, .inputs1__tel, .inputs1__mail {
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.2916666667vw;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.2604166667vw 0.2604166667vw 0.2604166667vw rgba(12, 59, 69, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 0.5208333333vw;
    height: 5.2083333333vw;
    padding: 1.4583333333vw 1.5625vw;
    margin-bottom: 1.0416666667vw;
  }
  .inputs1__name:last-child, .inputs1__tel:last-child, .inputs1__mail:last-child {
    margin-bottom: 2.6041666667vw;
  }
  .inputs1__btn {
    display: block;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 3.0729166667vw;
    padding: 1.0416666667vw 2.0833333333vw;
    background: #30B9D8;
    border-radius: 1.0416666667vw;
    margin: 0 auto;
  }
  .inputs1__x {
    width: 1.95625vw;
    height: 1.95625vw;
    position: absolute;
    top: 4%;
    right: 2.5%;
  }
  .inputs1__x::before {
    content: "";
    display: block;
    width: 1.95625vw;
    height: 0.1041666667vw;
    transform: rotate(45deg);
    background: #000;
    position: relative;
    top: 0.5729166667vw;
    left: 0;
  }
  .inputs1__x::after {
    content: "";
    display: block;
    width: 1.95625vw;
    height: 0.1041666667vw;
    transform: rotate(-45deg);
    background: #000;
    position: relative;
    top: 0.5208333333vw;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */