@import "nullstyle.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700&display=swap');


.wrapper {
    font-family: 'Montserrat', sans-serif;
}

.block1 {
    background: url('../img/bg1.jpg')center/cover no-repeat;
    font-family: 'Montserrat', sans-serif;

    @media (max-width:480px) {
        background: url('../img/bg-media1.jpg')center/cover no-repeat;
    }


    &__container {
        margin: 0 auto;
        padding-left: calc((100vw / 1920) * 101.33);
        padding-right: calc((100vw / 1920) * 98);
        padding-top: calc((100vw / 1920) * 20);
    }

    &__row {
        margin-top: calc((100vw / 1920) * 135);
        display: flex;
        flex-direction: column;
        align-items: start;
        max-width: 65%;

        @media (max-width:480px) {
            margin: 100px auto 0;
            align-items: center;
            max-width: 100%;
            margin-top: calc((100vw / 390) * 300);
        }
    }

    &__title {
        font-weight: 700;
        font-size: calc((100vw / 1920) * 96);
        line-height: calc((100vw / 1920) * 117);
        background: linear-gradient(90deg, #BCF3FF 2.49%, #EBFBFF 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @media (max-width:480px) {
            text-align: center;
            font-size: calc((100vw / 390) * 32);
            line-height: calc((100vw / 390) * 39);
            max-width: 100%;
        }
    }

    &__text {
        margin-top: calc((100vw / 1920) * 70);
        font-size: calc((100vw / 1920) * 48);
        line-height: calc((100vw / 1920) * 59);
        font-weight: 500;
        color: #EDFCFF;
        max-width: 100%;

        @media (max-width:480px) {
            text-align: center;
            max-width: 90%;
            line-height: 111.9%;
            font-size: calc((100vw / 390) * 18);
            margin-top: calc((100vw / 390) * 70);
        }
    }

    &__btn {
        display: block;
        text-align: center;
        font-size: calc((100vw / 1920) * 58);
        margin-top: calc((100vw / 1920) * 70);
        color: #FFFFFF;
        background: #30B9D8;
        border-radius: calc((100vw / 1920) * 20);
        padding-top: calc((100vw / 1920) * 20);
        padding-bottom: calc((100vw / 1920) * 20);
        padding-left: calc((100vw / 1920) * 40);
        padding-right: calc((100vw / 1920) * 40);
        margin-bottom: calc((100vw / 1920) * 208);

        @media (max-width: 480px) {
            margin-bottom: calc((100vw / 390) * 121);
            padding: calc((100vw / 390) * 10) calc((100vw / 390) * 20);
            margin-top: calc((100vw / 390) * 80);
            font-size: calc((100vw / 390) * 22);
            line-height: calc((100vw / 390) * 27);
        }
    }
}

.header {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: calc((100vw / 1920) * 32);
    line-height: calc((100vw / 1920) * 32);
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    padding: calc((100vw / 1920) * 21) calc((100vw / 1920) * 98) calc((100vw / 1920) * 21) calc((100vw / 1920) * 108.33);

    @media (max-width:480px) {
        font-size: calc((100vw / 390) * 14);
        line-height: calc((100vw / 390) * 17);
        padding: calc((100vw / 390) * 11) calc((100vw / 390) * 20)
    }

    &__left {
        color: rgba(245, 253, 255, 0.8);
    }

    &__right {
        display: flex;
        color: rgba(245, 253, 255, 0.8);
    }

    &__ru {
        color: rgba(245, 253, 255, 0.8);
    }

    &__en {
        color: rgba(245, 253, 255, 0.8);
    }
}

.block2 {
    font-family: 'Inter', sans-serif;

    p {
        font-size: calc((100vw / 1920) * 64);
        line-height: calc((100vw / 1920) * 77);
        font-weight: 500;
        margin: calc((100vw / 1920) * 98) 0 calc((100vw / 1920) * 139) calc((100vw / 1920) * 98);

        @media (max-width:480px) {
            text-align: center;
            margin-left: 0;
            font-size: calc((100vw / 390) * 24);
            line-height: calc((100vw / 390) * 29);
            margin-top: calc((100vw / 390) * 50);
            margin-bottom: calc((100vw / 390) * 73);
        }
    }
}



.block3 {
    background: url('../img/bg2.jpg')center 69%/cover no-repeat;
    font-family: 'Inter', sans-serif;
    position: relative;
    border-radius: calc((100vw / 1920) * 50);

    

    &__container {
        margin: 0 auto;
        padding-left: calc((100vw / 1920) * 88);
        padding-right: calc((100vw / 1920) * 121);
    }

    &__PSA {
        display: inline-block;
        background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 500;
        font-size: calc((100vw / 1920) * 200);
        line-height: calc((100vw / 1920) * 242);
        position: absolute;
        top: -18%;

        @media (max-width:480px) {
            font-size: calc((100vw / 390) * 64);
            line-height: calc((100vw / 390) * 77);
            top: -13%;
        }
    }

    &__row {
        margin-top: calc((100vw / 1920) * 28);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        margin-top: calc((100vw / 1920) * 28);
        display: flex;
        color: #0C3B45;
        margin-bottom: calc((100vw / 1920) * 129);
        font-weight: 500;
        font-size: calc((100vw / 1920) * 75);
        line-height: calc((100vw / 1920) * 91);

        @media (max-width:480px) {
            font-size: calc((100vw / 390) * 22);
            line-height: calc((100vw / 390) * 27);
            margin-bottom: calc((100vw / 390) * 50);
            margin-top: calc((100vw / 390) * 20);
        }

        img {
            max-width: calc((100vw / 1920) * 80);
            margin-right: calc((100vw / 1920) * 29);

            @media (max-width:480px) {
                max-width: calc((100vw / 390) * 25);
            }
        }
    }

    &__list-kadrov {
        margin-bottom: calc((100vw / 1920) * 34);
        padding: calc((100vw / 1920) * 15) calc((100vw / 1920) * 45);
        max-width: calc((100vw / 1920) * 796);
        font-size: calc((100vw / 1920) * 48);
        color: #0C3B45;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: calc((100vw / 1920) * 3) calc((100vw / 1920) * 3) calc((100vw / 1920) * 6) rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        border-radius: calc((100vw / 1920) * 20);
        line-height: calc((100vw / 1920) * 62.89);

        @media (max-width:480px) {
            max-width: calc((100vw / 390) * 241);
            padding: calc((100vw / 390) * 15) calc((100vw / 390) * 13) calc((100vw / 390) * 13) calc((100vw / 390) * 15);
            margin-bottom: calc((100vw / 390) * 20);
            border-radius: calc((100vw / 390) * 5.5);
        }

        h2 {
            font-weight: 600;
        }

        p {
            font-weight: 400;
            max-width: 64%;

            @media (max-width:480px) {
                max-width: 73%;
            }
        }

        @media (max-width:480px) {
            font-size: calc((100vw / 390) * 16);
            line-height: calc((100vw / 390) * 23);
        }
    }
}

.block4 {
    position: relative;
    background: url('../img/bg3.jpg')center/cover no-repeat;
    margin-top: calc((100vw / 1920) * 124);
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    border-radius: calc((100vw / 1920) * 50);

    &__container {
        margin: 0 auto;
        padding-left: calc((100vw / 1920) * 88);
        padding-right: calc((100vw / 1920) * 121);
    }

    &__PSA {
        font-weight: 500;
        font-size: calc((100vw / 1920) * 200);
        line-height: calc((100vw / 1920) * 242);
        background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: absolute;
        top: -18%;
    }

    &__row {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    &__content {
        align-self: flex-end;
        max-width: calc((100vw / 1920) * 796);
        margin-right: calc((100vw / 1920) * 92);
    }

    &__title {
        align-self: center;
        display: flex;
        font-weight: 600;
        font-size: calc((100vw / 1920) * 75);
        line-height: calc((100vw / 1920) * 91);
        margin-top: calc((100vw / 1920) * 34);
        margin-bottom: calc((100vw / 1920) * 156);

        img {
            max-width: calc((100vw / 1920) * 83);
            margin-right: calc((100vw / 1920) * 25);
        }
    }

    &__text {
        max-width: calc((100vw / 1920) * 766);
        font-weight: 500;
        font-size: calc((100vw / 1920) * 48);
        line-height: calc((100vw / 1920) * 58);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0px calc((100vw / 1920) * 4) calc((100vw / 1920) * 4) rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        border-radius: calc((100vw / 1920) * 20);
        padding-top: calc((100vw / 1920) * 15);
        padding-bottom: calc((100vw / 1920) * 15);
        padding-left: calc((100vw / 1920) * 30);
        padding-right: calc((100vw / 1920) * 30);
        margin-bottom: calc((100vw / 1920) * 96);
    }

    &__text400 {
        font-weight: 400;
    }
}


.block5 {
    margin-top: calc((100vw / 1920) * 116);
    background: url('../img/bg4.jpg')center/cover no-repeat;
    color: #0C3B45;
    font-family: 'Inter', sans-serif;
    border-radius: calc((100vw / 1920) * 50);
    position: relative;


    &__container {
        margin: 0 auto;
        padding-left: calc((100vw / 1920) * 89);
        padding-right: calc((100vw / 1920) * 100);
    }

    &__PSA {
        font-weight: 500;
        font-size: calc((100vw / 1920) * 200);
        line-height: calc((100vw / 1920) * 242);
        background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: absolute;
        top: -18%;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        margin-top: calc((100vw / 1920) * 40);
        display: flex;
        font-weight: 600;
        font-size: calc((100vw / 1920) * 75);
        line-height: calc((100vw / 1920) * 91);
        margin-bottom: calc((100vw / 1920) * 312);

        img {
            max-width: calc((100vw / 1920) * 62.74);
            margin-right: calc((100vw / 1920) * 16.26);
        }
    }

    &__text {
        max-width: calc((100vw / 1920) * 813);
        margin-bottom: calc((100vw / 1920) * 47);
        font-weight: 400;
        font-size: calc((100vw / 1920) * 48);
        line-height: calc((100vw / 1920) * 58);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: calc((100vw / 1920) * 3) calc((100vw / 1920) * 3) calc((100vw / 1920) * 6) rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        padding: calc((100vw / 1920) * 20) calc((100vw / 1920) * 40);
        border-radius: calc((100vw / 1920) * 20);
    }
}


.inputs {
    background: url('../img/bg-input.jpg')center/cover no-repeat;
    padding-top: calc((100vw / 1920) * 100);
    font-family: 'Inter', sans-serif;
    padding-bottom: calc((100vw / 1920) * 100);

    &__block1 {
        max-width: calc((100vw / 1920) * 1289);
        margin: 0 auto;
    }

    &__container {
        max-width: calc((100vw / 1920) * 1240);
    }

    &__title {
        font-weight: 500;
        font-size: calc((100vw / 1920) * 64);
        line-height: calc((100vw / 1920) * 77);
        color: #0C3B45;
        letter-spacing: calc((100vw / 1920) * -3.2);
        margin-bottom: calc((100vw / 1920) * 50);
    }

    &__name,
    &__tel,
    &__mail {
        position: relative;
        font-weight: 400;
        font-size: calc((100vw / 1920) * 36);
        line-height: calc((100vw / 1920) * 44);
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        box-shadow: inset calc((100vw / 1920) * 5) calc((100vw / 1920) * 5) calc((100vw / 1920) * 5) rgba(12, 59, 69, 0.25);
        backdrop-filter: blur(4px);
        border-radius: calc((100vw / 1920) * 10);
        height: calc((100vw / 1920) * 100);
        padding: calc((100vw / 1920) * 28) calc((100vw / 1920) * 30);
        margin-bottom: calc((100vw / 1920) * 20);

        &:last-child {
            margin-bottom: calc((100vw / 1920) * 50);
        }
    }

    &__btn {
        display: block;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: calc((100vw / 1920) * 48);
        line-height: calc((100vw / 1920) * 59);
        padding: calc((100vw / 1920) * 20) calc((100vw / 1920) * 40);
        background: #30B9D8;
        border-radius: calc((100vw / 1920) * 20);
        margin: 0 auto;
    }
}


.footer {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    background: #002027;
    padding-top: calc((100vw / 1920) * 30);
    padding-bottom: calc((100vw / 1920) * 45);

    &__container {
        max-width: calc((100vw / 1920) * 600);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: calc((100vw / 1920) * 38);
        line-height: calc((100vw / 1920) * 46);
        margin-bottom: calc((100vw / 1920) * 28);
    }

    &__contacts {
        font-weight: 400;
        font-size: calc((100vw / 1920) * 36);
        line-height: calc((100vw / 1920) * 44);
        text-align: center;
        margin-bottom: calc((100vw / 1920) * 20);

        a {
            display: block;
            margin-top: calc((100vw / 1920) * 20);
            color: #FFFFFF;
        }
    }

    &__email {
        font-weight: 400;
        font-size: calc((100vw / 1920) * 36);
        line-height: calc((100vw / 1920) * 44);
    }

    &__icons {
        margin-bottom: calc((100vw / 1920) * 25);
        margin-top: calc((100vw / 1920) * 25);

        a {
            display: inline-block;

            &:last-child {
                margin-left: calc((100vw / 1920) * 50);
            }
        }

        img {
            max-width: calc((100vw / 1920) * 60);
        }
    }

    &__privacy {
        font-weight: 400;
        font-size: calc((100vw / 1920) * 32);
        line-height: calc((100vw / 1920) * 39);

        a {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.bg-opasity {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    display: none;
}



.inputs1 {
    width: 774.38px;
    max-height: 595px;
    font-family: 'Inter', sans-serif;
    padding: 62.5px 0;
    background: url('../img/bg-input.jpg') center/cover no-repeat;
    border-radius: 31.25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__block1 {
        max-width: 774.38px;
        max-height: 470.63px;
        margin: 0 auto;
        position: relative;
    }

    &__container {
        max-width: 703.13px;
        margin: 0 auto;
    }

    &__title {
        padding-left: 31.25px;
        font-weight: 312;
        font-size: 40px;
        line-height: 48.13px;
        color: #0C3B45;
        letter-spacing: -3px;
        margin-bottom: 31.25px;
    }

    &__name,
    &__tel,
    &__mail {
        font-weight: 250;
        font-size: 22.50px;
        line-height: 27.50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        box-shadow: inset 5px 5px 5px rgba(12, 59, 69, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 6.25px;
        height: 62.50px;
        padding: 17.5px 18.75px;
        margin-bottom: 12.50px;

        &:last-child {
            margin-bottom: 31.25px;
        }
    }

    &__btn {
        display: block;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 312;
        font-size: 30px;
        line-height: 36.88px;
        padding: 12.5px 25px;
        background: #30B9D8;
        border-radius: 12.50px;
        margin: 0 auto;
    }

    &__x {
        width: 23.48px;
        height: 23.48px;
        position: absolute;
        top: 4%;
        right: 2.5%;

        &::before {
            content: '';
            display: block;
            width: 23.48px;
            height: 1.25px;
            transform: rotate(45deg);
            background: #000;
            position: relative;
            top: 11px;
            left: 0;
        }

        &::after {
            content: '';
            display: block;
            width: 23.48px;
            height: 1.25px;
            transform: rotate(-45deg);
            background: #000;
            position: relative;
            top: 10px;
            left: 0;
        }
    }
}



@media (max-width:1199px) {
    .inputs1 {
        width: calc((100vw / 1920) * 1239);
        font-family: 'Inter', sans-serif;
        padding-top: calc((100vw / 1920) * 100);
        padding-bottom: calc((100vw / 1920) * 100);
        background: url('../img/bg-input.jpg') center/cover no-repeat;
        border-radius: calc((100vw / 1920) * 50);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__block1 {
            max-width: calc((100vw / 1920) * 1239);
            margin: 0 auto;
            position: relative;
        }

        &__container {
            max-width: calc((100vw / 1920) * 1125);
            margin: 0 auto;
        }

        &__title {
            padding-left: calc((100vw / 1920) * 50);
            font-weight: 500;
            font-size: calc((100vw / 1920) * 64);
            line-height: calc((100vw / 1920) * 77);
            color: #0C3B45;
            letter-spacing: calc((100vw / 1920) * -3.2);
            margin-bottom: calc((100vw / 1920) * 50);
        }

        &__name,
        &__tel,
        &__mail {
            font-weight: 400;
            font-size: calc((100vw / 1920) * 36);
            line-height: calc((100vw / 1920) * 44);
            width: 100%;
            background: rgba(0, 0, 0, 0.05);
            box-shadow: inset calc((100vw / 1920) * 5) calc((100vw / 1920) * 5) calc((100vw / 1920) * 5) rgba(12, 59, 69, 0.25);
            backdrop-filter: blur(4px);
            border-radius: calc((100vw / 1920) * 10);
            height: calc((100vw / 1920) * 100);
            padding: calc((100vw / 1920) * 28) calc((100vw / 1920) * 30);
            margin-bottom: calc((100vw / 1920) * 20);

            &:last-child {
                margin-bottom: calc((100vw / 1920) * 50);
            }
        }

        &__btn {
            display: block;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: calc((100vw / 1920) * 48);
            line-height: calc((100vw / 1920) * 59);
            padding: calc((100vw / 1920) * 20) calc((100vw / 1920) * 40);
            background: #30B9D8;
            border-radius: calc((100vw / 1920) * 20);
            margin: 0 auto;
        }

        &__x {
            width: calc((100vw / 1920) * 37.56);
            height: calc((100vw / 1920) * 37.56);
            position: absolute;
            top: 4%;
            right: 2.5%;

            &::before {
                content: '';
                display: block;
                width: calc((100vw / 1920) * 37.56);
                height: calc((100vw / 1920) * 2);
                transform: rotate(45deg);
                background: #000;
                position: relative;
                top: calc((100vw / 1920) * 11);
                left: 0;
            }

            &::after {
                content: '';
                display: block;
                width: calc((100vw / 1920) * 37.56);
                height: calc((100vw / 1920) * 2);
                transform: rotate(-45deg);
                background: #000;
                position: relative;
                top: calc((100vw / 1920) * 10);
                left: 0;
            }
        }
    }
}