@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;900&family=Montserrat:wght@400;500;600;700&display=swap");
.wrapper {
  font-family: "Montserrat", sans-serif;
}

.block1 {
  background: url("../img/bg1.jpg") center/102% no-repeat;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 480px) {
  .block1 {
    background: url("../img/bg-mobile.jpg") center/cover no-repeat;
  }
}
.block1__container {
  margin: 0 auto;
  padding-left: 6.9444444444vw;
  padding-right: 6.0416666667vw;
  padding-top: 1.4583333333vw;
}
.block1__row {
  margin-top: 9.375vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 85%;
}
@media (max-width: 480px) {
  .block1__row {
    margin: 100px auto 0;
    align-items: center;
    max-width: 100%;
    margin-top: 88.4615384615vw;
  }
}
.block1__title {
  font-weight: 700;
  font-size: 6.6666666667vw;
  line-height: 8.125vw;
  background: linear-gradient(90deg, #BCF3FF 2.49%, #EBFBFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (max-width: 480px) {
  .block1__title {
    text-align: center;
    font-size: 8.2051282051vw;
    line-height: 10vw;
    max-width: 100%;
  }
}
.block1__text {
  margin-top: 4.8611111111vw;
  font-size: 3.3333333333vw;
  line-height: 4.0972222222vw;
  font-weight: 500;
  color: #EDFCFF;
  max-width: 85%;
}
@media (max-width: 480px) {
  .block1__text {
    text-align: center;
    max-width: 90%;
    line-height: 111.9%;
    font-size: 4.6153846154vw;
    margin-top: 20.5128205128vw;
  }
}
.block1__btn {
  font-weight: 500;
  display: block;
  text-align: center;
  font-size: 4.0277777778vw;
  line-height: 4.9305555556vw;
  margin-top: 4.8611111111vw;
  color: #FFFFFF;
  background: #30B9D8;
  border-radius: 1.3888888889vw;
  padding: 1.3888888889vw 2.7777777778vw;
  margin-bottom: 14.4444444444vw;
  box-shadow: 4px 4px 7px rgba(12, 59, 69, 0.25);
}
.block1__btn:hover {
  box-shadow: 0px 0px 20px #70E5FF, 4px 4px 7px rgba(12, 59, 69, 0.25);
  font-weight: 600;
}
@media (max-width: 480px) {
  .block1__btn {
    margin-bottom: 31.0256410256vw;
    padding: 2.5641025641vw 5.1282051282vw;
    margin-top: 20.5128205128vw;
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
  }
}

.header {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 2.2222222222vw;
  line-height: 2.7083333333vw;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  padding: 1.4583333333vw 6.8055555556vw 1.4583333333vw 7.5229166667vw;
}
@media (max-width: 480px) {
  .header {
    font-size: 3.5897435897vw;
    line-height: 4.358974359vw;
    padding: 2.8205128205vw 5.1282051282vw;
  }
}
.header__left {
  color: rgba(245, 253, 255, 0.8);
}
.header__right {
  display: flex;
  color: rgba(245, 253, 255, 0.8);
}
.header__ru {
  color: rgba(245, 253, 255, 0.8);
}
.header__en {
  color: rgba(245, 253, 255, 0.8);
}

.block2 {
  font-family: "Inter", sans-serif;
}
.block2 p {
  font-size: 4.4444444444vw;
  line-height: 5.3472222222vw;
  font-weight: 500;
  margin: 6.8055555556vw 0 9.6527777778vw 6.8055555556vw;
}
@media (max-width: 480px) {
  .block2 p {
    text-align: center;
    margin-left: 0;
    font-size: 6.1538461538vw;
    line-height: 7.4358974359vw;
    margin-top: 12.8205128205vw;
    margin-bottom: 18.7179487179vw;
  }
}

.block3 {
  background: url("../img/bg2.png") center 69%/cover no-repeat;
  font-family: "Inter", sans-serif;
  position: relative;
  border-radius: 3.4722222222vw;
}
.block3__container {
  margin: 0 auto;
  padding-left: 6.1111111111vw;
  padding-right: 8.4027777778vw;
}
.block3__PSA {
  display: inline-block;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 500;
  font-size: 13.8888888889vw;
  line-height: 16.8055555556vw;
  position: absolute;
  top: -8.3333333333vw;
}
@media (max-width: 480px) {
  .block3__PSA {
    font-size: 16.4102564103vw;
    line-height: 19.7435897436vw;
  }
}
.block3__row {
  margin-top: 1.9444444444vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block3__wrapper {
  margin-bottom: 7.5694444444vw;
  max-width: 59.5833333333vw;
}
@media (max-width: 480px) {
  .block3__wrapper {
    max-width: 63.8461538462vw;
    margin-bottom: 10.7692307692vw;
    width: 100%;
  }
}
.block3__title {
  margin-top: 1.9444444444vw;
  display: flex;
  color: #0C3B45;
  margin-bottom: 3.3333333333vw;
  font-weight: 500;
  font-size: 4.0277777778vw;
  line-height: 4.8611111111vw;
}
@media (max-width: 480px) {
  .block3__title {
    font-size: 4.6153846154vw;
    line-height: 5.641025641vw;
    margin-bottom: 5.1282051282vw;
    margin-top: 5.1282051282vw;
  }
}
.block3__title img {
  max-width: 5.5555555556vw;
  margin-right: 2.0138888889vw;
}
@media (max-width: 480px) {
  .block3__title img {
    max-width: 6.4102564103vw;
    margin-right: 1.4102564103vw;
  }
}
.block3__list-kadrov {
  padding: 1.0416666667vw 3.125vw;
  font-size: 3.3333333333vw;
  color: #0C3B45;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0.2083333333vw 0.2083333333vw 0.4166666667vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.3888888889vw;
  line-height: 4.3673611111vw;
}
@media (max-width: 480px) {
  .block3__list-kadrov {
    max-width: 63.8461538462vw;
    padding: 2.5641025641vw 5.3846153846vw 2.3076923077vw 3.8461538462vw;
    border-radius: 1.4102564103vw;
  }
}
.block3__list-kadrov h2 {
  font-weight: 600;
}
.block3__list-kadrov p {
  font-weight: 400;
}
@media (max-width: 480px) {
  .block3__list-kadrov {
    font-size: 3.5897435897vw;
    line-height: 5.4564102564vw;
  }
}
.block3__absolut {
  text-align: center;
  align-self: center;
  font-weight: 27.7777777778vw;
  padding: 2.0833333333vw 3.125vw;
  font-size: 2.5vw;
  line-height: 3.2638888889vw;
  color: #0C3B45;
  max-width: 76.9444444444vw;
  max-height: 40.0694444444vw;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0.2083333333vw 0.2083333333vw 0.4166666667vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.3888888889vw;
  position: absolute;
  bottom: -35.0694444444vw;
}
@media (max-width: 480px) {
  .block3__absolut {
    padding: 2.5641025641vw 3.8461538462vw;
    font-size: 3.0769230769vw;
    line-height: 4.1025641026vw;
    max-width: 84.1025641026vw;
    max-height: 54.358974359vw;
    bottom: -47.5694444444vw;
  }
}
.block3__absolut P:nth-child(2) {
  margin: 3.4722222222vw 0;
}
@media (max-width: 480px) {
  .block3__absolut P:nth-child(2) {
    margin: 3.8461538462vw 0;
  }
}

.block4 {
  position: relative;
  background: url("../img/bg3.png") center/cover no-repeat;
  margin-top: 47.4305555556vw;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  border-radius: 3.4722222222vw;
}
@media (max-width: 480px) {
  .block4 {
    margin-top: 62.8205128205vw;
    border-radius: 3.4615384615vw;
  }
}
.block4__container {
  margin: 0 auto;
  padding-left: 6.1111111111vw;
  padding-right: 8.4027777778vw;
}
.block4__PSA {
  font-weight: 500;
  font-size: 13.8888888889vw;
  line-height: 16.8055555556vw;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  top: -8.3333333333vw;
}
.block4__row {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.block4__content {
  align-self: flex-end;
  max-width: 59.5833333333vw;
  width: 100%;
}
.block4__title {
  align-self: center;
  display: flex;
  font-weight: 600;
  font-size: 5.2083333333vw;
  line-height: 6.3194444444vw;
  margin-top: 2.3611111111vw;
  margin-bottom: 10.8333333333vw;
}
@media (max-width: 480px) {
  .block4__title {
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
    margin-bottom: 5.1282051282vw;
    margin-top: 5.1282051282vw;
  }
}
.block4__title img {
  max-width: 5.7638888889vw;
  margin-right: 1.7361111111vw;
}
@media (max-width: 480px) {
  .block4__title img {
    max-width: 6.4102564103vw;
    margin-right: 1.2820512821vw;
  }
}
.block4__text {
  width: 100%;
  max-width: 53.1944444444vw;
  font-weight: 500;
  font-size: 3.3333333333vw;
  line-height: 4.0277777778vw;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0.2777777778vw 0.2777777778vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.3888888889vw;
  padding: 1.0416666667vw 2.0833333333vw;
  margin-bottom: 11.8055555556vw;
}
@media (max-width: 480px) {
  .block4__text {
    margin-bottom: 20.7692307692vw;
    padding: 3.8461538462vw 2.8205128205vw 3.8461538462vw 3.8461538462vw;
    font-size: 4.1025641026vw;
    line-height: 6.2358974359vw;
    max-width: 60.7692307692vw;
  }
}
.block4__text400 {
  font-weight: 400;
}
.block4__absolut {
  text-align: center;
  align-self: center;
  font-weight: 27.7777777778vw;
  padding: 2.0833333333vw 3.125vw;
  font-size: 2.2222222222vw;
  line-height: 3.2638888889vw;
  color: #0C3B45;
  max-width: 76.9444444444vw;
  max-height: 40.0694444444vw;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0.2083333333vw 0.2083333333vw 0.4166666667vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.3888888889vw;
  position: absolute;
  bottom: -15.2083333333vw;
}
@media (max-width: 480px) {
  .block4__absolut {
    max-width: 72.9487179487vw;
    max-height: 33.8461538462vw;
    font-size: 3.0769230769vw;
    line-height: 4.0307692308vw;
    padding: 2.5641025641vw 3.8461538462vw;
    bottom: -17.0138888889vw;
  }
}
.block4__absolut p:first-child {
  margin-bottom: 3.4722222222vw;
}

.block5 {
  margin-top: 26.7361111111vw;
  background: url("../img/bg4.png") center/cover no-repeat;
  color: #0C3B45;
  font-family: "Inter", sans-serif;
  border-radius: 3.4722222222vw;
  position: relative;
}
@media (max-width: 480px) {
  .block5 {
    margin-top: 32.0512820513vw;
    border-radius: 3.4615384615vw;
  }
}
.block5__container {
  margin: 0 auto;
  padding-left: 6.1805555556vw;
  padding-right: 6.9444444444vw;
}
.block5__PSA {
  font-weight: 500;
  font-size: 13.8888888889vw;
  line-height: 16.8055555556vw;
  background: linear-gradient(180deg, #6BDAF2 0%, #D5F7FF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
  top: -8.3333333333vw;
}
.block5__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block5__title {
  margin-top: 2.7777777778vw;
  display: flex;
  font-weight: 600;
  font-size: 5.2083333333vw;
  line-height: 6.3194444444vw;
  margin-bottom: 21.6666666667vw;
}
@media (max-width: 480px) {
  .block5__title {
    margin-top: 5.1282051282vw;
    font-size: 5.641025641vw;
    line-height: 6.9230769231vw;
    margin-bottom: 30.5128205128vw;
  }
}
.block5__title img {
  max-width: 4.3569444444vw;
  margin-right: 1.1291666667vw;
}
@media (max-width: 480px) {
  .block5__title img {
    max-width: 4.358974359vw;
  }
}
.block5__text {
  max-width: 56.4583333333vw;
  margin-bottom: 3.2638888889vw;
  font-weight: 400;
  font-size: 3.3333333333vw;
  line-height: 4.0277777778vw;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0.2083333333vw 0.2083333333vw 0.4166666667vw rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 1.3888888889vw 2.7777777778vw;
  border-radius: 1.3888888889vw;
}
@media (max-width: 480px) {
  .block5__text {
    font-size: 4.1025641026vw;
    line-height: 4.8717948718vw;
    margin-bottom: 5.1282051282vw;
    padding: 3.8461538462vw 2.9487179487vw 3.8461538462vw 3.8461538462vw;
  }
}

.inputs {
  background: url("../img/bg-input.jpg") center/cover no-repeat;
  padding-top: 6.9444444444vw;
  font-family: "Inter", sans-serif;
  padding-bottom: 6.9444444444vw;
}
.inputs__block1 {
  max-width: 86.1111111111vw;
  margin: 0 auto;
}
.inputs__container {
  max-width: 86.1111111111vw;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .inputs__container {
    max-width: 89.7435897436vw;
  }
}
.inputs__title {
  font-weight: 500;
  font-size: 4.4444444444vw;
  line-height: 5.3472222222vw;
  color: #0C3B45;
  letter-spacing: -0.02em;
  margin-bottom: 3.4722222222vw;
}
@media (max-width: 480px) {
  .inputs__title {
    text-align: center;
    font-size: 6.1538461538vw;
    line-height: 7.4358974359vw;
    letter-spacing: -0.02em;
    padding: 0 3.8461538462vw;
  }
}
.inputs__name, .inputs__tel, .inputs__mail {
  position: relative;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 3.0555555556vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0.3472222222vw 0.3472222222vw 0.3472222222vw rgba(12, 59, 69, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 0.6944444444vw;
  height: 6.9444444444vw;
  padding: 1.9444444444vw 2.0833333333vw;
  margin-bottom: 1.3888888889vw;
  color: rgba(12, 59, 69, 0.4);
}
@media (max-width: 480px) {
  .inputs__name, .inputs__tel, .inputs__mail {
    font-size: 4.6153846154vw;
    line-height: 5.641025641vw;
    padding: 3.5897435897vw;
    margin-bottom: 3.8461538462vw;
    height: 12.8205128205vw;
    border-radius: 1.2820512821vw;
  }
}
.inputs__btn {
  display: block;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3.3333333333vw;
  line-height: 4.0972222222vw;
  padding: 1.3888888889vw 2.7777777778vw;
  background: #30B9D8;
  border-radius: 1.3888888889vw;
  margin: 0 auto;
  box-shadow: 4px 4px 7px rgba(12, 59, 69, 0.25);
}
@media (max-width: 480px) {
  .inputs__btn {
    font-size: 4.6153846154vw;
    line-height: 5.641025641vw;
    padding: 2.5641025641vw 5.1282051282vw;
    margin-bottom: 3.8461538462vw;
    border-radius: 2.5641025641vw;
  }
}
.inputs__btn:hover {
  font-weight: 600;
  box-shadow: 0px 0px 20px #70E5FF, 4px 4px 7px rgba(12, 59, 69, 0.25);
}

.footer {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  background: #002027;
}
.footer__container {
  max-width: 41.6666666667vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .footer__container {
    max-width: 76.9230769231vw;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 2.6388888889vw;
  line-height: 3.1944444444vw;
  margin-bottom: 1.9444444444vw;
  margin-top: 2.0833333333vw;
}
@media (max-width: 480px) {
  .footer__title {
    font-size: 4.1025641026vw;
    line-height: 4.8717948718vw;
    margin-top: 5.1282051282vw;
    margin-bottom: 5.1282051282vw;
  }
}
.footer__contacts {
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 3.0555555556vw;
  text-align: center;
  margin-bottom: 1.3888888889vw;
}
@media (max-width: 480px) {
  .footer__contacts {
    font-size: 4.1025641026vw;
    line-height: 4.8717948718vw;
    margin-bottom: 3.8461538462vw;
  }
}
.footer__contacts a {
  display: block;
  margin-top: 1.3888888889vw;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer__contacts a {
    margin-top: 3.8461538462vw;
  }
}
.footer__email {
  font-size: 2.5vw;
  line-height: 3.0555555556vw;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 480px) {
  .footer__email {
    font-size: 4.1025641026vw;
    line-height: 4.8717948718vw;
  }
}
.footer__icons {
  margin-bottom: 1.7361111111vw;
  margin-top: 1.7361111111vw;
}
@media (max-width: 480px) {
  .footer__icons {
    margin-top: 3.8461538462vw;
  }
}
.footer__icons a {
  display: inline-block;
}
.footer__icons a:last-child {
  margin-left: 3.4722222222vw;
}
@media (max-width: 480px) {
  .footer__icons a:last-child {
    margin-left: 7.6923076923vw;
  }
}
.footer__icons img {
  max-width: 4.1666666667vw;
}
@media (max-width: 480px) {
  .footer__icons img {
    max-width: 6.4102564103vw;
  }
}
.footer__privacy {
  margin-bottom: 3.125vw;
}
.footer__privacy a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.2222222222vw;
  line-height: 2.7083333333vw;
}
@media (max-width: 480px) {
  .footer__privacy a {
    font-size: 3.0769230769vw;
    line-height: 3.8461538462vw;
  }
}

.bg-opasity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  display: none;
}

.inputs1 {
  width: 774.38px;
  font-family: "Inter", sans-serif;
  padding: 25px 30px 50px;
  background: url("../img/bg-input.jpg") center/cover no-repeat;
  border-radius: 31.25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputs1__block1 {
  max-width: 774.38px;
  margin: 0 auto;
  position: relative;
}
.inputs1__container {
  max-width: 703.13px;
  margin: 0 auto;
}
.inputs1__title {
  font-weight: 312;
  font-size: 40px;
  line-height: 48.13px;
  color: #0C3B45;
  letter-spacing: -3px;
  margin-bottom: 31.25px;
}
.inputs1__name, .inputs1__tel, .inputs1__mail {
  font-size: 22px;
  line-height: 27.5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 5px 5px 5px rgba(12, 59, 69, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 6.25px;
  height: 62.5px;
  padding: 17.5px 18.75px;
  margin-bottom: 12.5px;
}
.inputs1__name:last-child, .inputs1__tel:last-child, .inputs1__mail:last-child {
  margin-bottom: 31.25px;
}
.inputs1__btn {
  font-weight: 500;
  display: block;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 312;
  font-size: 30px;
  line-height: 36.88px;
  padding: 12.5px 25px;
  background: #30B9D8;
  border-radius: 12.5px;
  margin: 0 auto;
}
.inputs1__btn:hover {
  box-shadow: 0px 0px 20px #70E5FF, 4px 4px 7px rgba(12, 59, 69, 0.25);
  font-weight: 600;
}
.inputs1__x {
  width: 23.48px;
  height: 23.48px;
  position: relative;
  margin-left: auto;
}
.inputs1__x::before, .inputs1__x::after {
  content: "";
  display: block;
  width: 36px;
  height: 2px;
  transform: rotate(45deg);
  background: #000;
  position: relative;
  top: 12px;
  left: 0;
}
.inputs1__x::after {
  top: 10px;
  transform: rotate(-45deg);
}

@media (max-width: 991.98px) {
  .inputs1 {
    width: 86.0416666667vw;
    font-family: "Inter", sans-serif;
    padding-top: 1.7361111111vw;
    padding-bottom: 3.4722222222vw;
    background: url("../img/bg-input.jpg") center/cover no-repeat;
    border-radius: 3.4722222222vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inputs1__block1 {
    max-width: 86.0416666667vw;
    margin: 0 auto;
    position: relative;
  }
  .inputs1__container {
    max-width: 78.125vw;
    margin: 0 auto;
  }
  .inputs1__title {
    font-weight: 500;
    font-size: 4.4444444444vw;
    line-height: 5.3472222222vw;
    color: #0C3B45;
    letter-spacing: -0.2222222222vw;
    margin-bottom: 3.4722222222vw;
  }
  .inputs1__name, .inputs1__tel, .inputs1__mail {
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 3.0555555556vw;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.3472222222vw 0.3472222222vw 0.3472222222vw rgba(12, 59, 69, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 0.6944444444vw;
    height: 6.9444444444vw;
    padding: 1.9444444444vw 2.0833333333vw;
    margin-bottom: 1.3888888889vw;
  }
  .inputs1__name:last-child, .inputs1__tel:last-child, .inputs1__mail:last-child {
    margin-bottom: 3.4722222222vw;
  }
  .inputs1__btn {
    display: block;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.3333333333vw;
    line-height: 4.0972222222vw;
    padding: 1.3888888889vw 2.7777777778vw;
    background: #30B9D8;
    border-radius: 1.3888888889vw;
    margin: 0 auto;
  }
  .inputs1__x::before, .inputs1__x::after {
    content: "";
    display: block;
    width: 3.5897435897vw;
    height: 0.2564102564vw;
    transform: rotate(45deg);
    background: #000;
    position: relative;
    top: 2.8205128205vw;
    left: 0;
  }
  .inputs1__x::after {
    top: 2.5641025641vw;
    transform: rotate(-45deg);
  }
}
@media (max-width: 480px) {
  .inputs1 {
    width: 89.7435897436vw;
    font-family: "Inter", sans-serif;
    padding: 1.5384615385vw 3.8461538462vw 7.6923076923vw;
    background: url("../img/bg-input.jpg") center/cover no-repeat;
    border-radius: 5.1282051282vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .inputs1__block1 {
    max-width: 89.7435897436vw;
    margin: 0 auto;
    position: relative;
  }
  .inputs1__container {
    max-width: 89.7435897436vw;
    margin: 0 auto;
  }
  .inputs1__title {
    padding: 0 2.5641025641vw;
    text-align: center;
    font-weight: 500;
    font-size: 5.641025641vw;
    line-height: 6.1538461538vw;
    color: #0C3B45;
    letter-spacing: 0.02em;
    margin-bottom: 6.4102564103vw;
  }
  .inputs1__name, .inputs1__tel, .inputs1__mail {
    font-weight: 400;
    font-size: 3.5897435897vw;
    line-height: 4.358974359vw;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.3472222222vw 1.2820512821vw 1.2820512821vw rgba(12, 59, 69, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 1.2820512821vw;
    height: 12.8205128205vw;
    padding: 4.358974359vw 3.8461538462vw;
    margin-bottom: 3.8461538462vw;
  }
  .inputs1__btn {
    display: block;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 4.6153846154vw;
    line-height: 5.641025641vw;
    padding: 2.5641025641vw 5.1282051282vw;
    background: #30B9D8;
    border-radius: 2.5641025641vw;
    margin: 0 auto;
  }
  .inputs1__x::before, .inputs1__x::after {
    content: "";
    display: block;
    width: 4.6153846154vw;
    height: 0.2564102564vw;
    transform: rotate(45deg);
    background: #000;
    position: relative;
    top: 2.8205128205vw;
    left: 0;
  }
  .inputs1__x::after {
    top: 2.5641025641vw;
    transform: rotate(-45deg);
  }
}/*# sourceMappingURL=style.css.map */